.navbar-default .navbar-brand {
  color: #0829DB;
  width: 300px;
  margin-top: 10px;
  font-weight: bold;
}

#footer ul a {
  color:#999999;
}

a, a:hover {
  color:#999999;
}
H1, h1 {
  color: #333333;
}

